$colors: (
  primary: blue,
  secondary: red,
  danger: red,
  warning: yellow,
  info: skyblue,
  default: grey
);

$themes: (
  flat: red,
  material: red,
  mini: red,
  dark: red
);

$mode: (
  day: #fff,
  night: black
);
